In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("fentanyl_matched_alcohol.csv")
df

,matchnumber,casenumber,age,race,gender,final_longitude,final_latitude,case_control,case,distance,weights
0,1,ME2022-05626,54,Black,Male,-87.846686,41.866375,fentanyl,1,0.692958,1
1,1,ME2015-05117,53,White,Female,-87.870165,41.923883,alcohol,0,0.624917,1
2,2,ME2021-09556,42,Black,Male,-87.624916,41.693675,fentanyl,1,0.723910,1
3,2,ME2017-04768,55,Black,Male,-87.640379,41.738300,alcohol,0,0.690292,1
4,2,ME2017-04768,55,Black,Male,-87.640379,41.738300,alcohol,0,0.690292,1
...,...,...,...,...,...,...,...,...,...,...,...
10022,3527,ME2021-09610,28,White,Female,-87.608457,41.771781,fentanyl,1,0.694848,1
10023,3527,ME2021-09610,28,White,Female,-87.608457,41.771781,fentanyl,1,0.694848,1
10024,3527,ME2018-03732,37,White,Male,-87.621502,41.893981,alcohol,0,0.626915,1
10025,3528,ME2021-09572,57,Black,Male,-87.688380,41.595261,fentanyl,1,0.684924,1
10026,3528,ME2018-05358,46,White,Male,-87.673243,41.791005,alcohol,0,0.600257,1

In [3]:
df[['casenumber', 'case_control']]

         casenumber case_control
0      ME2022-05626     fentanyl
1      ME2015-05117      alcohol
2      ME2021-09556     fentanyl
3      ME2017-04768      alcohol
4      ME2017-04768      alcohol
...             ...          ...
10022  ME2021-09610     fentanyl
10023  ME2021-09610     fentanyl
10024  ME2018-03732      alcohol
10025  ME2021-09572     fentanyl
10026  ME2018-05358      alcohol

[10027 rows x 2 columns]

In [4]:
df = pd.read_csv("combined.csv")
df

,casenumber,age,gender,race,final_latitude,final_longitude,case_control
0,ME2022-05956,38.0,Female,White,41.865180,-87.745063,xylazine
1,ME2022-05889,58.0,Male,Black,41.750815,-87.616426,xylazine
2,ME2022-05585,29.0,Female,Asian,41.973232,-87.753848,xylazine
3,ME2022-05537,63.0,Male,Black,41.983437,-87.837537,xylazine
4,ME2022-05477,66.0,Male,Black,41.733294,-87.837698,xylazine
...,...,...,...,...,...,...,...
10701,ME2014-00141,40.0,Male,White,41.950448,-87.760313,alcohol
10702,ME2014-00136,41.0,Male,White,41.984604,-87.780883,alcohol
10703,ME2014-00089,35.0,Male,White,41.871866,-87.687100,alcohol
10704,ME2014-00043,53.0,Male,Black,41.887207,-87.625015,alcohol
10705,ME2014-00034,59.0,Male,Black,41.867086,-87.841795,alcohol

In [6]:
df.case_control.unique()

array(['xylazine', 'fentanyl', 'alcohol'], dtype=object)

In [8]:
df[['casenumber', 'case_control']].rename(columns={'case_control': 'group'}).to_csv("ids_and_groups.csv", index=False)