In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/output/finalized.csv', low_memory=False)

In [3]:
df.head()

,casenumber,incident_date_x,death_date_x,age,gender,race,latino,cold_related,heat_related,commissioner_district,...,lorazepam_secondary,marijuana_secondary,cannabis_secondary,oxymorphone_secondary,tramadol_secondary,cyclobenzaprine_secondary,toxic_secondary,topiramate_secondary,morphine_secondary,buprenorphine_secondary
0,ME2021-11723,2021-12-13T16:00:00.000,2021-12-14,66.0,Female,White,0,0,0,10.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
1,ME2021-11722,2021-12-15T02:55:00.000,2021-12-15,67.0,Female,Black,0,0,0,1.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
2,ME2021-11721,2021-12-07T09:38:00.000,2021-12-15,80.0,Female,White,0,0,0,10.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
3,ME2021-11720,2021-12-14T20:00:00.000,2021-12-15,NaN,Female,White,0,0,0,NaN,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0
4,ME2021-11719,2021-12-15T00:01:00.000,2021-12-15,36.0,Female,Black,0,0,0,6.0,...,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0

In [6]:
not_drug_cols = [
    x
    for x in df.columns
    if not x.endswith("_primary") and not x.endswith("_secondary")
]
df.loc[:, not_drug_cols].describe()

,age,latino,cold_related,heat_related,commissioner_district,residence_zip,gunrelated,opioids,geocoded_score,recovered,...,death_year,death_month,death_day,death_week,motel,hot_combined,cold_combined,matching_addresses,repeated_address,repeated_lat_long
count,60191.000000,60537.000000,60537.000000,60537.000000,52953.000000,58901.000000,59105.000000,59105.000000,6512.000000,60537.000000,...,60478.000000,60478.000000,60478.000000,60478.000000,6895.000000,60537.000000,60537.000000,60537.000000,60537.000000,60537.000000
mean,55.803675,0.127278,0.006162,0.000446,7.485865,60163.084888,0.109466,0.151138,93.865653,0.107571,...,2018.479216,6.716442,15.528010,27.582675,0.011603,0.000776,0.006508,0.006327,0.895733,0.917918
std,21.458631,0.333286,0.078254,0.021114,4.965156,3821.307140,0.312226,0.358186,7.621783,0.309840,...,2.147932,3.466717,8.853165,15.177753,0.107096,0.027853,0.080412,0.079289,0.305609,0.274492
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,70.000000,0.000000,...,2008.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,40.000000,0.000000,0.000000,0.000000,3.000000,60425.000000,0.000000,0.000000,90.000000,0.000000,...,2017.000000,4.000000,8.000000,15.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,58.000000,0.000000,0.000000,0.000000,7.000000,60618.000000,0.000000,0.000000,97.300000,0.000000,...,2019.000000,7.000000,15.000000,27.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
75%,71.000000,0.000000,0.000000,0.000000,11.000000,60637.000000,0.000000,0.000000,100.000000,0.000000,...,2020.000000,10.000000,23.000000,41.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,109.000000,1.000000,1.000000,1.000000,17.000000,99999.000000,1.000000,1.000000,100.000000,1.000000,...,2021.000000,12.000000,31.000000,53.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
df.groupby('LANDUSE').count().sort_values('casenumber', ascending=False).head()

,casenumber,incident_date,death_date,age,gender,race,latino,cold_related,heat_related,commissioner_district,...,death_week,motel,hot_combined,cold_combined,primary_combined,matching_addresses,repeated_address,repeated_lat_long,death_location_name,death_location_name_1
LANDUSE,,,,,,,,,,,,,,,,,,,,,
1130.0,15506,15314,15500,15449,15465,15447,15506,15506,15506,15500,...,15500,15506,15506,15506,15215,15506,15506,15506,3490,5394
1111.0,13782,13586,13766,13702,13717,13695,13782,13782,13782,13782,...,13766,13782,13782,13782,13600,13782,13782,13782,3246,4830
6000.0,12792,12609,12781,12706,12739,12716,12792,12792,12792,12789,...,12781,12792,12792,12792,12578,12792,12792,12792,2660,4253
1310.0,3058,2913,3058,3056,3056,3046,3058,3058,3058,3058,...,3058,3058,3058,3058,3034,3058,3058,3058,1168,1856
1112.0,1300,1276,1300,1296,1296,1293,1300,1300,1300,1300,...,1300,1300,1300,1300,1287,1300,1300,1300,307,460

In [8]:
df.incident_date = pd.to_datetime(df.incident_date)
df.death_date = pd.to_datetime(df.death_date)
df.dtypes

casenumber                    object
incident_date         datetime64[ns]
death_date            datetime64[ns]
age                          float64
gender                        object
                           ...
cold_combined                  int64
primary_combined              object
matching_addresses             int64
repeated_address               int64
repeated_lat_long              int64
Length: 75, dtype: object

In [1]:
df.full_address.duplicated()

NameError: name 'df' is not defined

In [17]:
df.geocoded_score.describe()

count    58077.000000
mean        98.063926
std          3.839703
min         70.000000
25%         98.530000
50%         99.390000
75%        100.000000
max        100.000000
Name: geocoded_score, dtype: float64

In [4]:
death_locations = pd.read_csv("../data/raw/death_locations.csv", low_memory=False)
death_locations.head()

     casenumber death_location_name death_location_name_1
0  ME2021-02269              Scene              Residence
1  ME2021-02268  inpatient hospice                Hospice
2  ME2021-02267                  ED                   NaN
3  ME2021-02265            hospital              Hospital
4  ME2021-02266            hospital              Hospital

In [6]:
df.shape

(58099, 75)

In [8]:
df.merge(death_locations, how='left', on='casenumber').head()

,casenumber,incident_date,death_date,age,gender,race,latino,cold_related,heat_related,commissioner_district,...,death_week,motel,hot_combined,cold_combined,primary_combined,matching_addresses,repeated_address,repeated_lat_long,death_location_name,death_location_name_1
0,ME2021-10471,2021-11-09T19:27:00.000,2021-11-10,58.0,Male,White,0,0,0,11.0,...,45.0,0,0,0,NaN,0,0,0,NaN,NaN
1,ME2021-10470,2021-10-31T15:25:00.000,2021-11-10,70.0,Male,White,0,0,0,14.0,...,45.0,0,0,0,NaN,0,0,0,NaN,NaN
2,ME2021-10469,2021-11-10T02:15:00.000,2021-11-10,44.0,Male,Black,0,0,0,3.0,...,45.0,0,0,0,NaN,0,0,0,NaN,NaN
3,ME2021-10468,2021-11-06T14:49:00.000,2021-11-09,60.0,Female,Black,0,0,0,2.0,...,45.0,0,0,0,NaN,0,0,0,NaN,NaN
4,ME2021-10467,2021-11-09T22:58:00.000,2021-11-09,29.0,Female,Black,0,0,0,5.0,...,45.0,0,0,0,NaN,0,0,0,NaN,NaN

In [1]:
import geocoding
import pandas as pd

In [2]:
df = geocoding.fetch_data.get_live_me_data()
df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,casenumber,incident_date,death_date,age,gender,race,latino,cold_related,heat_related,commissioner_district,...,residence_city,residence_zip,manner,primarycause,primarycause_linea,secondarycause,gunrelated,opioids,primarycause_lineb,primarycause_linec
0,ME2021-11160,2021-12-02T02:50:00.000,2021-12-02T03:11:00.000,36,Male,White,False,False,False,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ME2021-11159,2021-11-22T15:09:00.000,2021-12-02T01:32:00.000,77,Male,White,False,False,False,16,...,Melrose Park,60160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ME2021-11158,2021-12-02T00:28:00.000,2021-12-02T00:54:00.000,25,Male,White,False,False,False,NaN,...,Elgin,60124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ME2021-11157,2021-12-01T08:44:00.000,2021-12-01T22:27:00.000,42,Male,Black,False,False,False,3,...,Chicago,60612,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ME2021-11156,2021-11-26T09:13:00.000,2021-12-01T22:28:00.000,83,Female,White,False,False,False,6,...,Park Forest,60466,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
dff = df[(pd.isna(df.latitude)) & (pd.isna(df.longitude))]

In [4]:
dff.columns

Index(['casenumber', 'incident_date', 'death_date', 'age', 'gender', 'race',
       'latino', 'cold_related', 'heat_related', 'commissioner_district',
       'incident_street', 'incident_city', 'incident_zip', 'longitude',
       'latitude', 'location', 'objectid', 'chi_ward', 'chi_commarea',
       ':@computed_region_tu5p_2ban', ':@computed_region_nqe2_pztc',
       ':@computed_region_h3ai_7k6i', 'residence_city', 'residence_zip',
       'manner', 'primarycause', 'primarycause_linea', 'secondarycause',
       'gunrelated', 'opioids', 'primarycause_lineb', 'primarycause_linec'],
      dtype='object')

In [6]:
dff = dff[['casenumber', 'incident_street', 'incident_city', 'incident_zip', 'latitude', 'longitude']]
dff.head()

,casenumber,incident_street,incident_city,incident_zip,latitude,longitude
2,ME2021-11158,1250 RADCLIFF,BUFFALO GROVE,60089,NaN,NaN
7,ME2021-11153,UNKNOWN,NaN,NaN,NaN,NaN
10,ME2021-11150,NaN,NaN,NaN,NaN,NaN
39,ME2021-11121,816 Elizabeth St.,WEST CHICAGO,60185,NaN,NaN
45,ME2021-11115,15156 WALBASH AVE,SOUTH HOLLAND,60473,NaN,NaN

In [7]:
dff.to_csv('../data/output/no_lat_long.csv', index=False)

In [6]:
df = pd.read_csv('../data/processed/recovered_lat_long.csv')
df.shape

/Users/nick/Projects/Kentucky/geocoding/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (12,17,43,57) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(60537, 67)

In [8]:
df.recovered.sum()

6512

In [9]:
df = pd.read_csv('../data/processed/cases_with_distances.csv')
df.shape

/Users/nick/Projects/Kentucky/geocoding/.venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (12,17,43,57) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(60537, 69)

In [10]:
df.distance_between_points.describe()

count    60537.000000
mean      4785.448361
std       4909.092849
min         -1.000000
25%         -1.000000
50%         -1.000000
75%       9817.621112
max      10145.335900
Name: distance_between_points, dtype: float64

In [11]:
df.closest_pharmacy.describe()

count    60537.000000
mean      8747.852404
std       3034.553768
min          0.000000
25%       9801.384878
50%       9801.384878
75%       9801.384878
max       9801.384878
Name: closest_pharmacy, dtype: float64